{% extends 'layout.html' %}
{% block content %}
<div class="mx-auto" style="width: 80%">
    <div class="d-flex mb-5">
        <h1 class="text-center" style="width: 90%"> {{titulo}} </h1>
        <a href="{{url_for('regCliente')}}" class="btn btn-primary btn-sm align-middle">AGREGAR CLIENTE</a>
    </div>
    <hr>
    <table class="table table-bordered mx-auto" style="width: 100%;">
        <thead>
            <tr class="text-center text-white" style="background-color: #00001bf3;">
                <th scope="col">#</th>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">Dirección</th>
                <th scope="col">Celular</th>
                <th scope="col">Email</th>
                <th colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody id="clientes">
            {% for cliente in clientes %}
            <tr class="text-center">
                <th>{{cliente.id}}</th>
                <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.celular}}</td>
                <td>{{cliente.email}}</td>        
                <td>
                    <a href="{{url_for('actCliente',id=cliente.id)}}" class="btn btn-info btn-sm">Actualizar</a>
                </td>
                <td>
                    <a href="{{url_for('elimCliente',id=cliente.id)}}" class="btn btn-danger btn-sm btnRojo" onclick="confirmar(event)">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}