<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/js/prueba.js"></script>
    <script src="https://kit.fontawesome.com/f2af2bae7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% if title %}
    <title>Ferreteria Clavo de Oro - {{ title }}</title>
    {% else %}
    <title>Ferreteria Clavo de Oro </title>
    {% endif %}
</head>

<body>
    <div class="container-fluid position-absolute h-100 w-100">
        <div class="container mt-5 mx-auto w-50" >
            {% with messages = get_flashed_messages(with_categories=true)%} 
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    {{message}}
                </div>
            {% endfor %} 
            {% endwith %} 
        </div>
        <div class="container mx-auto my-5">
            <h1 class="text-center">Iniciar Sesión </h1>
            <form action="" method="POST" style="width: 40%" class="mx-auto my-auto mb-5">
                {{form.hidden_tag()}}
                <h3 class="text-center">{{encabezado}}</h3>
                <hr>
                <div class="form-group">
                    {{form.nickname.label}}
                    {% if form.nickname.errors %}
                    {{form.nickname(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                        {% for error in form.nickname.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.nickname(class='form-control')}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    {% if form.password.errors %}
                    {{form.password(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.password(class='form-control')}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.submit(class='btn btn-outline-info')}}
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/prueba.js"></script>
</body>

</html>