{% extends 'layout.html' %}
{% block content %}
    <div>
      <div class="card">
        <h3 class="form-title">Datos de la venta</h3>
        <div class="form-cabecera">
        <div>
            <label for="cliente"> Cliente </label>
            <select id="selectedCliente">
              {% for cliente in clientes %}
                <option value={{cliente.id}}>{{cliente.nombre}} {{cliente.apellido}}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="numero_comprobante"> Nro Comprobante </label>
            <input id="numero_comprobante" type="number" />
          </div>
          <div>
            <label for="descuento"> Descuento </label>
            <input id="descuento" type="number" onchange="calcularTotal()" />
          </div>
          <div>
            <label for="total"> Total </label>
            <input id="total" disabled type="number" />
          </div>
        </div>
      </div>
      <div id="AgregarDetalles" class="card">
        <div class="form-cabecera">
          <div>
            <label for="selectedProducto"> Producto </label>
            <select id="selectedProducto">
              {% for producto in productos %}
              <option value = {{producto.id}}>
                {{producto.nombre}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="cantidad">Cantidad</label>
            <input id="cantidad" type="number">
          </div>
          <div>
            <label>Click abajo para agragar a la tabla</label>
            <button onclick="cargarData()" class="btn btn-primary">Agregar</button>
          </div>
        </div>
      </div>
      <div id="Detalles">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio Venta</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody id="datatable">
          </tbody>
        </table>
      </div>
      <div class="Guardar-data">
        <button class="btn btn-primary" onclick="guardarVenta()">Guardar venta</button>
      </div>
    </div>
    <script src="../../static/js/ventas.js"></script>
{% endblock %}